[defaults]
# This directory is required to store temporary files for Ansible and ARA
local_tmp = {{ ara_config_path }}/.ansible/tmp

[ara]
# This will default the database and logs location to be inside that directory.
dir = {{ ara_config_path }}/.ara
