<VirtualHost *:{{ ara_port }}>
    ServerName {{ ara_host }}

    ErrorLog {{ apache_log_path }}/ara-error.log
    LogLevel warn
    CustomLog {{ apache_log_path }}/ara-access.log combined

    WSGIDaemonProcess ara user={{ apache_user }} group={{ apache_group }} processes=1 threads=4
    WSGIScriptAlias / /var/www/ara/ara-wsgi

    SetEnv ANSIBLE_CONFIG {{ ara_config_path }}

    <Directory /var/www/ara>
        WSGIProcessGroup ara
        WSGIApplicationGroup %{GLOBAL}
        Require all granted
    </Directory>
</VirtualHost>
