[Unit]
Description=ARA
Documentation=https://github.com/openstack/ara
After=network.target

[Service]
Type=simple
TimeoutStartSec=0
Restart=on-failure
RestartSec=10
RemainAfterExit=yes
User=ara
Group=ara
Environment=ANSIBLE_CONFIG=/etc/ara/ara.cfg
ExecStart={{ ara_manage.stdout }} runserver

[Install]
WantedBy=multi-user.target
