[defaults]
inventory = {{ ansible_inventory }}
roles_path = {{ ansible_roles }}
gathering = smart
gather_subset = !all
action_plugins = {{ ara_location.stdout }}/plugins/action
callback_plugins = {{ ara_location.stdout }}/plugins/callbacks
library = {{ ara_location.stdout }}/plugins/library
retry_files_enabled = False
